.#{$pre} {
  &-row {
    margin-left: -1rem;
    margin-right: -1rem;
    &__col {
      &_8 {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 66.6%;
      }
      &_6 {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 50%;
      }
      &_4 {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 33.3%;
      }
    }
    @include after-float();
  }
  &-affix {
    position: fixed;
    top: 0;
  }
  &-body {
    @include after-float();
  }
  // Cabeceras de contenido
  &-header {
    &__title {
      padding-left: 1rem;
      display: inline-block;
      line-height: 2rem;
    }
    &__btn {}
    &__list {}
    background-color: $bg_color_neutral;
    color: $text_color_neutral;
    .#{$pre}-btn {
      &:not([class*="_color_"]) {
        background-color: inherit;
      }
    }
    &:not([class*="_color_"]) {
      .#{$pre}-btn {
        &:not([class*="_color_"]) {
          background-color: darken($bg_color_neutral, 10%);
          &:hover {
            background-color: darken($bg_color_neutral, 20%);
          }
        }
      }
    }
    @include after-float();
  }
  // laterales secundarios añadidos al contenido principal
  &-aside {
    //@include _color();
    //@include _float();
    &__title {}
    &__btn {}
    &__list {}
    @include after-float();
  }
  // contenido principal
  &-content {
    //@include _color();
    //@include _float();
    @include after-float();
  }
  // Pie de contenido
  &-footer {
    clear: both;
    &__title {}
    &__btn {}
    &__list {}
    @include after-float();
  }
  &-btn {
    $block: "btn";
    position: relative;
    cursor: pointer;
    font-size: inherit;
    border: 0;
    padding: 0;
    font-family: inherit;
    display: inline-block;
    line-height: 2rem;
    text-decoration: none;
    background-color: $bg_color_neutral;
    color: $text_color_neutral;
    &__icon {
      &.#{$pre}_float_left,
      &.#{$pre}_float_right {
        &~.#{$pre}-btn__text {
          display: inline-block;
        }
      }
    }
    &__picture {
      &.#{$pre}_float_left,
      &.#{$pre}_float_right {
        &~.#{$pre}-btn__text {
          display: inline-block;
        }
      }
    }
    &__text {
      padding: 0 0.5rem;
      display: block;
      text-align: center;
    }
    &__badge {
      &.#{$pre}-badge {
        transform: scale(0.7);
        margin-left: auto;
        margin-right: auto;
        display: table;
        &.#{$pre}_float_left,
        &.#{$pre}_float_right {
          display: inline-block;
        }
      }
    }
    &-list {
      &__item {}
      @include after-float();
    }
    .#{$pre}-icon {
      display: block;
      width: auto;
    }
    .#{$pre}-picture {
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      &__img {
        width: 2rem;
        margin-left: auto;
        margin-right: auto;
        display: table;
      }
    }
    .#{$pre}-badge {
      &:not([class*="_color_"]) {
        background-color: $bg_color_badge;
      }
    }
    &.#{$pre}_is-active {
      background-color: darken($bg_color_neutral, 10%);
    }
    &:not([class*="_color_"]) {
      &:hover {
        background-color: darken($bg_color_neutral, 10%);
        .#{$pre}-badge {
          &:not([class*="_color_"]) {
            background-color: darken($bg_color_badge, 10%);
          }
        }
      }
    }
    @include after-float();
  }
  &-badge {
    $font-size: 1rem;
    $line-height: $font-size * 2;
    $border-radius: $line-height / 2;
    $min-width: $line-height;
    background-color: $bg_color_badge;
    color: $text_color_badge;
    border-radius: $border-radius;
    min-width: $min-width;
    display: inline-block;
    text-align: center;
    line-height: $line-height;
    padding: 0 0.3rem;
    box-sizing: border-box;
  }
  &-dropdown {
    &__link {}
    &__btn {}
    &__list {}
    &__item {}
  }
  &-checkbox {
    position: relative;
    cursor: pointer;
    font-size: inherit;
    border: 0;
    padding: 0;
    font-family: inherit;
    display: inline-block;
    line-height: 2rem;
    //@include _color();
    //@include _size();
    &__label {
      cursor: pointer;
    }
    &__input {
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
      &:checked {
        &~.fg-icon {
          &.fg-icon_graph_square {
            &::after {
              content: "\f046";
            }
          }
        }
        &~.fg-icon {
          &.fg-icon_graph_toggle {
            &::after {
              content: "\f205";
            }
          }
        }
      }
    }
    &__icon {
      @include _float();
    }
    &-list {
      &__item {
        @include _float();
      }
      @include after-float();
    }
    &__text {
      padding: 0 0.5rem;
      display: inline-block;
      @include _float();
    }
    @include after-float();
  }
  &-radio {
    position: relative;
    cursor: pointer;
    font-size: inherit;
    border: 0;
    padding: 0;
    font-family: inherit;
    display: block;
    line-height: 2rem;
    &__icon {
      &.#{$pre}_float_left+.#{$pre}-radio__text {
        text-align: left;
        float: left;
      }
      &.#{$pre}_float_right+.#{$pre}-radio__text {
        text-align: right;
        float: right;
      }
    }
    &__text {
      padding: 0 0.5rem;
      display: block;
      text-align: center;
    }
    &__label {
      cursor: pointer;
      display: block;
      @include after-float();
    }
    &__input {
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
      &:checked {
        &+.fg-icon {
          &.fg-icon_graph_circle {
            &::before {
              content: "\f111";
              position: absolute;
              transform: scale(0.6);
            }
          }
        }
      }
    }
    &-list {
      &__item {}
      @include after-float();
    }
    .fg-icon {
      display: block;
      width: auto;
    }
  }
  &-link {
    display: inline-block;
    &__icon {
      &.#{$pre}_float_left,
      &.#{$pre}_float_right {
        &~.#{$pre}-link__text {
          display: inline-block;
        }
      }
    }
    .#{$pre}-icon {
      display: block;
      width: auto;
    }
  }
  &-cover {
    &__img {
      width: 100%;
    }
  }
  &-icon {
    display: inline-block;
    min-width: 2rem;
    text-align: center;
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    font-family: FontAwesome;
    &::after {
      display: inline-block;
      content: "\f118";
    }
    &::before {
      display: inline-block;
    }
    &-list {
      &__item {}
    }
    &_graph {
      @include icon()
    }
  }
  &-title {
    &__icon {}
    @include after-float();
  }
  &-img {}
  //componentes especificos aglutinantes
  &-toolbar {
    &__item {}
    @include after-float();
  }
  &-list {
    &__item {
      &.#{$pre}-btn,
      &>.#{$pre}-btn {
        display: block;
      }
    }
    @include after-float();
  }
  &-logo {
    &:after {
      content: "";
    }
  }
  &-picture {
    &__img {
      width: 100%;
    }
  }
  &-menu {}
  &-card {}
  //LOS MODIFICADORES TIENE QUE ESTAR AL FINAL
}

@include _fix();
@include _color();
@include _size();
@include _float();
@include _corner();