$pre: 'fg';
//Principals colors
$blue: blue;
$gray: gray;
$red: red;
$white: white;
//Colors for 'Principal' status
$bg_color_principal: $blue;
$text_color_principal: $white;
//Colors for 'Secondary' status
$bg_color_secondary: $red;
$text_color_secondary: $white;
//Colors for 'Filter' status
$bg_color_filter: $gray;
$text_color_filter: $white;
//Colors for 'Search' status
$bg_color_search: $red;
$text_color_search: $white;
//Colors for 'Update' status
$bg_color_update: $red;
$text_color_update: $white;
//Colors for 'Warning' status
$bg_color_warning: $red;
$text_color_warning: $white;
//Colors for 'Info' status
$bg_color_info: $red;
$text_color_info: $white;
//Colors for 'Success' status
$bg_color_success: $red;
$text_color_success: $white;
//Colors for 'Error' status
$bg_color_error: $red;
$text_color_error: $white;
//Colors for 'Alert' status
$bg_color_alert: $red;
$text_color_alert: $white;
//Colors for 'Badge' status
$bg_color_badge: $red;
$text_color_badge: $white;
//Colors for 'Neutral' status
$bg_color_neutral: $gray;
$text_color_neutral: $white;
//Colors for 'toolbar' status
$bg_color_toolbar: $gray;
$text_color_toolbar: $white;
//Colors for 'Highlight' status
$bg_color_highlight: #ffecec;
$text_color_highlight: #b55050;